body{
    margin: 0;
    padding: 0;
    background-color: #fff;
}

.container{
    max-width: 400px;
    margin: 50px auto; /*가운대 정렬*/
    padding: 0 20px;
    text-align: center;
}

.logo{
    width: 64px; /*가로*/
    height: 64px; /*세로*/
    margin: 0 auto 20px auto; /*(위, 오른쪽, 아래, 왼쪽)순서로 정렬*/
}

.form-group{
    text-align: left;
    margin-bottom: 20px;
}

label{
    display: block;
    font-weight: bold;
    margin-top: 15px;
    margin-bottom: 5px;
}

input{
    width: 100%; /*100%는 부모 영역의 100%만큼 차지하겠다*/
    padding: 10px;

    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

small{
    color: #777;
    font-size: 12px;
    margin-bottom: 5px;
    display: block;
}

#signup_btn{
    width: 100%;
    background-color: orange;
    color: white;
    padding: 14px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
}